/* 크기 변경 */
main > div > div > header {
  /* 상단 영역 */
  & {
    background-color: #191919;
  }

  & ~ div {
    background-color: #191919;

    /* 중단 영역 */
    &:nth-child(2) > div > div {
      min-width: 60vw;
    }

    /* 하단 영역 */
    &:last-child > div > div {
      min-width: 60vw;
    }
  }
}

/* 프롬프트 */
#prompt-textarea {
  font-family: NanumBarunGothic, sans-serif !important;
  font-size:   14px;
  font-weight: 300;
}

/* 프로젝트 */
main > div > div > header ~ div:nth-child(2) > div > div {
  > div {
    min-width:   100%;
    font-family: NanumBarunGothic, sans-serif !important;

    > div {
      min-width: 60vw;

      > div > div {
        background-color: #191919;
      }
    }

    .text-token-text-secondary {
      margin-top:  0.3em;
      font-weight: 300;
      color:       rgb(226, 226, 229);
    }
    .text-token-text-tertiary {
      min-width:      4em;
      letter-spacing: -1px;
    }
  }
}

/* 대화 */
article[data-testid^="conversation-turn"] {
  > div > div {
    min-width: 60vw;

    div[data-message-id] {
      font-family: NanumBarunGothic, sans-serif !important;
      font-size:   14px !important;
      font-weight: 300;

      .markdown {
        color:     rgb(226, 226, 229);
        font-size: 14px !important;

        strong {
          color:       rgb(226, 226, 229);
          font-weight: 500;
        }

        code {
          font-family:      D2Coding, sans-serif !important;
          background-color: #000;
          font-size:        13px;
        }

        pre {
          font-size: 13px;

          > div {
            background-color: #1f1f1f !important;
            border:           1px solid #2a2a2a;

            > div:first-child {
              background-color: #1f1f1f !important;
              color:            rgb(132, 132, 134);
              font-weight:      600;
            }
          }

          code {
            background-color: inherit;
          }
        }
      }

      div[class^="user-message-"] {
        min-width:        75% !important;
        background-color: #393939;

        code {
          padding:          .15rem .3rem;
          border-radius:    .25rem;
          background-color: #000;
          font-family:      D2Coding, sans-serif !important;
          font-size:        13px;
        }

        pre {
          background-color: #1f1f1f !important;
          border:           1px solid #2a2a2a;
          border-radius:    10px;
          padding:          10px;

          code {
            background-color: inherit;
            padding:          0;
          }
        }
      }
    }
  }
}