@charset "UTF-8";
/* 크기 변경 */
main {
  background-color: #191919;
}
main > div > div div:nth-child(1) {
  /* 중단 영역 */
}
main > div > div div:nth-child(1):nth-child(2) > div > div {
  min-width: 60vw;
}
main > div > div #thread-bottom-container > div:nth-child(1) > div {
  min-width: 60vw;
}
main > div > div #thread-bottom-container > div:nth-child(1) > div #prompt-textarea {
  font-family: NanumBarunGothic, sans-serif !important;
  font-size: 14px;
  font-weight: 300;
}
main > div > div #thread-bottom-container::after {
  display: none;
}

/* 프로젝트 */
main > div > div > header ~ div:nth-child(2) > div > div > div > div {
  min-width: 60vw;
  font-family: NanumBarunGothic, sans-serif !important;
}
main > div > div > header ~ div:nth-child(2) > div > div > div > div > div:nth-child(1) > div::after {
  background: linear-gradient(to top, transparent, #191919 25px);
}
main > div > div > header ~ div:nth-child(2) > div > div > div > div > div:nth-child(1) > section .text-token-text-secondary {
  margin-top: 0.3em;
  font-weight: 300;
  color: rgb(226, 226, 229);
}
main > div > div > header ~ div:nth-child(2) > div > div > div > div > div:nth-child(1) > section .text-token-text-tertiary {
  min-width: 4em;
  letter-spacing: -1px;
}
main > div > div > header ~ div:nth-child(2) > div > div > div > div > div:nth-child(3) {
  padding-left: 0;
  padding-right: 0;
}
main > div > div > header ~ div:nth-child(2) > div > div > div > div > div:nth-child(3)::after {
  background: linear-gradient(to top, #191919 55px, transparent);
}

/* 대화 */
article[data-testid^=conversation-turn] > div > div {
  min-width: 60vw;
}
article[data-testid^=conversation-turn] > div > div div[data-message-id] {
  font-family: NanumBarunGothic, sans-serif !important;
  font-size: 14px !important;
  font-weight: 300;
}
article[data-testid^=conversation-turn] > div > div div[data-message-id] .markdown {
  color: rgb(226, 226, 229);
  font-size: 14px !important;
}
article[data-testid^=conversation-turn] > div > div div[data-message-id] .markdown strong {
  color: rgb(226, 226, 229);
  font-weight: 500;
}
article[data-testid^=conversation-turn] > div > div div[data-message-id] .markdown code {
  font-family: D2Coding, sans-serif !important;
  background-color: #000;
  font-size: 13px;
}
article[data-testid^=conversation-turn] > div > div div[data-message-id] .markdown pre {
  font-size: 13px;
}
article[data-testid^=conversation-turn] > div > div div[data-message-id] .markdown pre > div {
  background-color: #1f1f1f !important;
  border: 1px solid #2a2a2a;
}
article[data-testid^=conversation-turn] > div > div div[data-message-id] .markdown pre > div > div:first-child {
  background-color: #1f1f1f !important;
  color: rgb(132, 132, 134);
  font-weight: 600;
}
article[data-testid^=conversation-turn] > div > div div[data-message-id] .markdown pre code {
  background-color: inherit;
}
article[data-testid^=conversation-turn] > div > div div[data-message-id] div[class^=user-message-] {
  background-color: #393939;
}
article[data-testid^=conversation-turn] > div > div div[data-message-id] div[class^=user-message-] code {
  padding: 0.15rem 0.3rem;
  border-radius: 0.25rem;
  background-color: #000;
  font-family: D2Coding, sans-serif !important;
  font-size: 13px;
}
article[data-testid^=conversation-turn] > div > div div[data-message-id] div[class^=user-message-] pre {
  background-color: #1f1f1f !important;
  border: 1px solid #2a2a2a;
  border-radius: 10px;
  padding: 10px;
}
article[data-testid^=conversation-turn] > div > div div[data-message-id] div[class^=user-message-] pre code {
  background-color: inherit;
  padding: 0;
}

/*# sourceMappingURL=custom.css.map */
