::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #100f0f;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #394c55;
    background-clip: padding-box;
    border: 2px solid transparent;
    border-left: 1px solid transparent;
}

::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}

.status-bar {
    border-color: #303237;
    .status-bar__segment:not(:first-child) {
        border-color: #303237;
    }
}

.applications-tiles {
    grid-template-columns: repeat(auto-fill, minmax(305px, 1fr));
    row-gap: 0;
    column-gap: 16px;

    .applications-list__entry {
        .applications-list__info {
            padding-left: 0;
            padding-right: 0;

            .row {
                line-height: 1.3;

                &:first-child {
                    padding-bottom: 10px;
                }

                .columns.small-3 {
                    color: #7c838c;
                }
                .columns.small-9 {
                    padding-left: 0;
                }
            }
        }
    }

    .applications-list__entry--actions {
        a {
            padding-left: 12px;
            padding-right: 12px;
        }
    }
}

.application-resources-diff .white-box,
.pod-logs-viewer {
    background-color: #1e1f22;
    color: #A9B7C6;
    font-family: D2Coding, serif;
    font-size: 13px;
    letter-spacing: -0.5px;
    line-height: 1.2;

    .diff-gutter-delete {
        background: #46090d;
    }
    .diff-code-delete {
        background: #46090d;
    }
    .diff-gutter-insert {
        background: #0c3c30;
    }
    .diff-code- {
        background: #0c3c30;
    }
}