.doc-header {
  height: 50px;

  .util_mail {
    top: 10px;
  }

  /* gnb */
  .doc-gnb {
    top: 51px;

    /* 안읽음/중요/첨부 */
    .utill_mail {
      .num_util {
        color: red;
      }
    }

    /* snb */
    .snb_mail {
      .menu_group {
        .list_menu {
          li {
            a.link_mail {
              max-width: 100%;
              .img_mail_v1 {
                opacity: .3;
              }

              &.seperator {
                .img_mail_v1 {
                  display: none !important;
                }
                .on_link {
                  color: #a6a6a6;
                  font-size: 12px !important;
                  font-weight: normal;
                }
              }
            }
            a.link_receivenum {
              .txt_receivenum {
                color: red;
              }
            }

            &.on {
              a.link_mail {
                .img_mail_v1 {
                  opacity: .6;
                }
              }
            }
          }
        }
      }
    }
  }
}

/* main */
.doc-main {
  height: calc(100% - 51px);
  margin-top: 51px !important;

  .main-content {
    .content-article {
      .view_area {
        .list_info {
          display: none;
        }
        .inner_list {
          height: 100%;
          padding-right: 0 !important;

          .list_mail {
            height: calc(100% - 76px);
            overflow-y: scroll;

            .mail_item {
              .info_from {
                .link_from {
                  font-weight: normal !important;
                  opacity: .5;
                }
              }

              .info_subject {
                padding-right: 30px;
              }
            }
          }

          .wrap_paging {
            border-top: 1px solid #f2f2f2;
            text-align: left;
            .paging_mail {
              text-align: center;
            }
            .box_viewsetting {
              right: 10px;
            }
          }
        }
      }
    }
  }
}

/* 메일 이동 메뉴 */
#mailsToolbarMoveContextmenue {
  height: 70vh;

  .info_move {
    position: relative;
    height: 100%;

    .group_mail {
      position: absolute;
      top: 109px;
      right: 0;
      bottom: 0;
      left: 0;
      height: auto;
      max-height: unset;
    }

    .box_add {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      border-top: none;
      border-bottom: 1px solid rgb(241, 241, 241);
    }
  }
}