@charset "UTF-8";
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #686868;
  background-clip: padding-box;
  border: 2px solid transparent;
  border-left: 1px solid transparent;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

/* Build Icon */
svg[tooltip="In progress"] ellipse,
.app-builds-container__item__icon[tooltip="In progress"] svg ellipse {
  stroke: rgb(26, 140, 255) !important;
}
svg[tooltip="In progress"] path,
.app-builds-container__item__icon[tooltip="In progress"] svg path {
  stroke: rgb(26, 140, 255) !important;
}

/* Stage View */
.cbwf-stage-view {
  overflow-y: hidden !important;
}
.cbwf-stage-view #pipeline-box .jobsTable thead tr th {
  padding: 5px !important;
  font-size: 12px;
  height: 100%;
  min-width: 10em;
}
.cbwf-stage-view #pipeline-box .jobsTable thead tr th .stage-title-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 100%;
}
.cbwf-stage-view #pipeline-box .jobsTable thead tr th .stage-title-container .stage-lang {
  height: 50px !important;
}
.cbwf-stage-view #pipeline-box .jobsTable thead tr th .stage-title-container .stage-name {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.cbwf-stage-view #pipeline-box .jobsTable thead tr th .stage-title-container .stage-name > div:nth-child(1) {
  font-weight: normal;
  color: gray;
}
.cbwf-stage-view #pipeline-box .jobsTable thead tr th .stage-title-container .stage-index {
  font-size: 1.5em;
  font-weight: normal;
  line-height: 1;
  color: gray;
}
.cbwf-stage-view #pipeline-box .jobsTable thead tr th .stage-title-container .stage-ecr {
  position: absolute;
  top: 0;
  left: 0;
  padding: 2px 4px 4px 4px;
  border: 1px solid #686868;
  border-radius: 3px;
  font-size: 0.7em;
  line-height: 1;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s;
}
.cbwf-stage-view #pipeline-box .jobsTable thead tr th .stage-title-container .stage-copy {
  position: absolute;
  padding: 2px 4px 4px 4px;
  border: 1px solid #686868;
  border-radius: 3px;
  font-size: 0.7em;
  line-height: 1;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s;
}
.cbwf-stage-view #pipeline-box .jobsTable thead tr th .stage-title-container .stage-copy.stage-copy-name {
  top: 0;
  right: 0;
}
.cbwf-stage-view #pipeline-box .jobsTable thead tr th .stage-title-container .stage-copy.stage-copy-index1 {
  bottom: 0;
  left: 0;
}
.cbwf-stage-view #pipeline-box .jobsTable thead tr th .stage-title-container .stage-copy.stage-copy-index2 {
  bottom: 0;
  right: 0;
}
.cbwf-stage-view #pipeline-box .jobsTable thead tr th .stage-title-container:hover .stage-ecr,
.cbwf-stage-view #pipeline-box .jobsTable thead tr th .stage-title-container:hover .stage-copy {
  opacity: 1;
}
.cbwf-stage-view #pipeline-box .jobsTable tbody tr td.stage-start .stage-start-box .stage-start-time {
  width: 6em !important;
}
.cbwf-stage-view #pipeline-box .jobsTable tbody tr td.stage-start .stage-start-box .changeset-box {
  left: 6em !important;
}
.cbwf-stage-view #pipeline-box .jobsTable tbody tr td.stage-start .stage-start-box .extension-dock {
  left: 11em !important;
  width: 7em !important;
}
.cbwf-stage-view #pipeline-box .jobsTable tbody tr.totals td.stage-start .cell-color {
  font-size: 13px;
}

/* Console Output & OrganizationScan */
.console-output,
[data-model-type="jenkins.branch.OrganizationFolder$OrganizationScan"] #main-panel pre {
  color: #bbbbbb !important;
  font-family: D2Coding, sans-serif !important;
  font-size: 13px !important;
  letter-spacing: -0.5px !important;
  line-height: 1.2 !important;
}
.console-output .pipeline-new-node,
[data-model-type="jenkins.branch.OrganizationFolder$OrganizationScan"] #main-panel pre .pipeline-new-node {
  color: #636c72;
}
.console-output .pipeline-new-node[label],
[data-model-type="jenkins.branch.OrganizationFolder$OrganizationScan"] #main-panel pre .pipeline-new-node[label] {
  display: block;
  color: #d69a6b;
  background: #3d3223;
  padding: 10px 0;
  margin: 10px 0;
}
.console-output span[style*="background-color:"],
[data-model-type="jenkins.branch.OrganizationFolder$OrganizationScan"] #main-panel pre span[style*="background-color:"] {
  position: relative;
  display: flex;
  margin-bottom: -1rem;
  border-bottom: 1px dotted #383840;
  /* info & default */
  /* debug */
  /* warning */
  /* error */
}
.console-output span[style*="background-color:"] > span:nth-child(1),
[data-model-type="jenkins.branch.OrganizationFolder$OrganizationScan"] #main-panel pre span[style*="background-color:"] > span:nth-child(1) {
  flex-shrink: 0;
  flex-grow: 0;
}
.console-output span[style*="background-color:"] > span:nth-child(2),
[data-model-type="jenkins.branch.OrganizationFolder$OrganizationScan"] #main-panel pre span[style*="background-color:"] > span:nth-child(2) {
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 0;
  word-break: break-all;
}
.console-output span[style*="background-color:"]::before,
[data-model-type="jenkins.branch.OrganizationFolder$OrganizationScan"] #main-panel pre span[style*="background-color:"]::before {
  content: "";
  position: absolute;
  left: calc(-1em - 6px);
  top: 0;
  color: #a68ebf;
  font-size: 1em;
}
.console-output span[style*="background-color:"][style="background-color: #FFFFFF;"],
[data-model-type="jenkins.branch.OrganizationFolder$OrganizationScan"] #main-panel pre span[style*="background-color:"][style="background-color: #FFFFFF;"] {
  background-color: transparent !important;
}
.console-output span[style*="background-color:"][style="background-color: #FFFFFF;"] > span[style="color: #000000;"],
[data-model-type="jenkins.branch.OrganizationFolder$OrganizationScan"] #main-panel pre span[style*="background-color:"][style="background-color: #FFFFFF;"] > span[style="color: #000000;"] {
  color: #bbbbbb !important;
}
.console-output span[style*="background-color:"][style="background-color: #4C4C4C;"],
[data-model-type="jenkins.branch.OrganizationFolder$OrganizationScan"] #main-panel pre span[style*="background-color:"][style="background-color: #4C4C4C;"] {
  background-color: transparent !important;
}
.console-output span[style*="background-color:"][style="background-color: #4C4C4C;"] > span[style="color: #000000;"],
[data-model-type="jenkins.branch.OrganizationFolder$OrganizationScan"] #main-panel pre span[style*="background-color:"][style="background-color: #4C4C4C;"] > span[style="color: #000000;"] {
  color: #808080 !important;
}
.console-output span[style*="background-color:"][style="background-color: #FFFF00;"],
[data-model-type="jenkins.branch.OrganizationFolder$OrganizationScan"] #main-panel pre span[style*="background-color:"][style="background-color: #FFFF00;"] {
  background-color: #1A0037 !important;
}
.console-output span[style*="background-color:"][style="background-color: #FFFF00;"] > span[style="color: #000000;"],
[data-model-type="jenkins.branch.OrganizationFolder$OrganizationScan"] #main-panel pre span[style*="background-color:"][style="background-color: #FFFF00;"] > span[style="color: #000000;"] {
  color: #a68ebf !important;
}
.console-output span[style*="background-color:"][style="background-color: #FFFF00;"]::before,
[data-model-type="jenkins.branch.OrganizationFolder$OrganizationScan"] #main-panel pre span[style*="background-color:"][style="background-color: #FFFF00;"]::before {
  content: "⚠️";
}
.console-output span[style*="background-color:"][style="background-color: #FF0000;"],
[data-model-type="jenkins.branch.OrganizationFolder$OrganizationScan"] #main-panel pre span[style*="background-color:"][style="background-color: #FF0000;"] {
  background-color: #2b0000 !important;
}
.console-output span[style*="background-color:"][style="background-color: #FF0000;"] > span[style="color: #000000;"],
[data-model-type="jenkins.branch.OrganizationFolder$OrganizationScan"] #main-panel pre span[style*="background-color:"][style="background-color: #FF0000;"] > span[style="color: #000000;"] {
  color: #ea9595 !important;
}
.console-output span[style*="background-color:"][style="background-color: #FF0000;"]::before,
[data-model-type="jenkins.branch.OrganizationFolder$OrganizationScan"] #main-panel pre span[style*="background-color:"][style="background-color: #FF0000;"]::before {
  content: "⛔️";
}
.console-output a[href],
[data-model-type="jenkins.branch.OrganizationFolder$OrganizationScan"] #main-panel pre a[href] {
  color: #5e92cf;
}

/* yaml */
code.language-yaml {
  color: #A9B7C6;
  font-family: D2Coding, sans-serif !important;
  letter-spacing: -0.5px;
  line-height: 1;
}
code.language-yaml .token.key {
  color: #cc7832 !important;
}
code.language-yaml .token.string {
  color: #6a8759 !important;
}

/* Editor */
div[id*=workflow-editor-] {
  min-height: 550px;
}
div[id*=workflow-editor-] .ace_scroller .ace_content .ace_text-layer .ace_line {
  color: #bbbbbb;
}

/*# sourceMappingURL=custom.css.map */
