@charset "UTF-8";
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #686868;
  background-clip: padding-box;
  border: 2px solid transparent;
  border-left: 1px solid transparent;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

/* 빌드 아이콘 */
svg[tooltip="In progress"] ellipse,
.app-builds-container__item__icon[tooltip="In progress"] svg ellipse {
  stroke: rgb(26, 140, 255) !important;
}
svg[tooltip="In progress"] path,
.app-builds-container__item__icon[tooltip="In progress"] svg path {
  stroke: rgb(26, 140, 255) !important;
}

/* stage view */
#pipeline-box .jobsTable thead tr th {
  padding: 5px !important;
  font-size: 12px;
}
#pipeline-box .jobsTable thead tr th .stage-lang {
  height: 50px !important;
}
#pipeline-box .jobsTable thead tr th .stage-title {
  margin: 0.5em 0;
}
#pipeline-box .jobsTable thead tr th .stage-index {
  position: relative;
  font-size: 1.5em;
  font-weight: normal;
  line-height: 1;
  color: gray;
  cursor: pointer;
}
#pipeline-box .jobsTable thead tr th .stage-index .stage-index-number {
  transition: color 0.2s;
}
#pipeline-box .jobsTable thead tr th .stage-index:hover .stage-index-number {
  text-decoration: underline;
  color: color(display-p3 0.43 0.757 1) !important;
}
#pipeline-box .jobsTable thead tr th .stage-index .stage-index-copied {
  position: absolute;
  top: 0.3em;
  right: 0;
  font-size: 0.7em;
  opacity: 0;
}
#pipeline-box .jobsTable tbody tr td.stage-start .stage-start-box .stage-start-time {
  width: 6em !important;
}
#pipeline-box .jobsTable tbody tr td.stage-start .stage-start-box .changeset-box {
  left: 6em !important;
}
#pipeline-box .jobsTable tbody tr td.stage-start .stage-start-box .extension-dock {
  left: 11em !important;
  width: 7em !important;
}
#pipeline-box .jobsTable tbody tr.totals td.stage-start .cell-color {
  font-size: 13px;
}

/* 콘솔 */
.console-output {
  color: #bbbbbb !important;
  font-family: D2Coding, serif !important;
  font-size: 13px !important;
  letter-spacing: -0.5px !important;
  line-height: 1.2 !important;
}
.console-output .pipeline-new-node {
  color: #636c72;
}
.console-output .pipeline-new-node[label] {
  display: block;
  color: #d69a6b;
  background: #3d3223;
  padding: 10px 0;
  margin: 10px 0;
}
.console-output span[style*="background-color:"] {
  display: flex;
  margin-bottom: -1rem;
  border-bottom: 1px dotted #383840;
  /* info & default */
  /* debug */
  /* warning */
  /* error */
}
.console-output span[style*="background-color:"] > span:nth-child(1) {
  flex-shrink: 0;
  flex-grow: 0;
}
.console-output span[style*="background-color:"] > span:nth-child(2) {
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 0;
  word-break: break-all;
}
.console-output span[style*="background-color:"][style="background-color: #FFFFFF;"] {
  background-color: transparent !important;
}
.console-output span[style*="background-color:"][style="background-color: #FFFFFF;"] > span[style="color: #000000;"] {
  color: #bbbbbb !important;
}
.console-output span[style*="background-color:"][style="background-color: #4C4C4C;"] {
  background-color: transparent !important;
}
.console-output span[style*="background-color:"][style="background-color: #4C4C4C;"] > span[style="color: #000000;"] {
  color: #808080 !important;
}
.console-output span[style*="background-color:"][style="background-color: #FFFF00;"] {
  background-color: #1A0037 !important;
}
.console-output span[style*="background-color:"][style="background-color: #FFFF00;"] > span[style="color: #000000;"] {
  color: #a68ebf !important;
}
.console-output span[style*="background-color:"][style="background-color: #FF0000;"] {
  background-color: #2b0000 !important;
}
.console-output span[style*="background-color:"][style="background-color: #FF0000;"] > span[style="color: #000000;"] {
  color: #ea9595 !important;
}

/* yaml */
code.language-yaml {
  color: #A9B7C6;
  font-family: D2Coding, serif !important;
  letter-spacing: -0.5px;
  line-height: 1;
}
code.language-yaml .token.key {
  color: #cc7832 !important;
}
code.language-yaml .token.string {
  color: #6a8759 !important;
}

/*# sourceMappingURL=custom.css.map */
