::-webkit-scrollbar {
  width:  10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  border-radius:    10px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius:    10px;
  background-color: #686868;
  background-clip:  padding-box;
  border:           2px solid transparent;
  border-left:      1px solid transparent;
}

::-webkit-scrollbar-button {
  width:  0;
  height: 0;
}

/* Build Icon */
svg[tooltip="In progress"],
.app-builds-container__item__icon[tooltip="In progress"] svg {
  ellipse {
    stroke: rgb(26, 140, 255) !important;
  }

  path {
    stroke: rgb(26, 140, 255) !important;
  }
}

/* Stage View */
.cbwf-stage-view {
  overflow-y: hidden !important;

  #pipeline-box {
    .jobsTable {
      thead {
        tr {
          th {
            padding:   5px !important;
            font-size: 12px;
            height:    100%;
            min-width: 10em;

            .stage-title-container {
              position:       relative;
              display:        flex;
              flex-direction: column;
              gap:            5px;
              height:         100%;

              .stage-lang {
                height: 50px !important;
              }

              .stage-name {
                flex-grow:       1;
                display:         flex;
                flex-direction:  column;
                justify-content: start;
                align-items:     center;

                > div:nth-child(1) {
                  font-weight: normal;
                  color:       gray;
                }

                > div:nth-child(2) {}
              }

              .stage-index {
                font-size:   1.5em;
                font-weight: normal;
                line-height: 1;
                color:       gray;
              }

              .stage-copy {
                position:      absolute;
                padding:       2px 4px 4px 4px;
                border:        1px solid #686868;
                border-radius: 3px;
                font-size:     0.7em;
                line-height:   1;
                cursor:        pointer;
                opacity:       0;
                transition:    opacity 0.2s;

                &.stage-copy-name {
                  top:   0;
                  right: 0;
                }
                &.stage-copy-index1 {
                  bottom: 0;
                  left:   0;
                }
                &.stage-copy-index2 {
                  bottom: 0;
                  right:  0;
                }
              }

              &:hover {
                .stage-copy {
                  opacity: 1;
                }
              }
            }
          }
        }
      }

      tbody {
        tr {
          td {
            &.stage-start {
              .stage-start-box {
                .stage-start-time {
                  width: 6em !important;
                }
                .changeset-box {
                  left: 6em !important;
                }
                .extension-dock {
                  left:  11em !important;
                  width: 7em !important;
                }
              }
            }
          }

          &.totals {
            td {
              &.stage-start {
                .cell-color {
                  font-size: 13px;
                }
              }
            }
          }
        }
      }
    }
  }
}

/* Console Output & OrganizationScan */
.console-output,
[data-model-type="jenkins.branch.OrganizationFolder$OrganizationScan"] #main-panel pre {
  color:          #bbbbbb !important;
  font-family:    D2Coding, sans-serif !important;
  font-size:      13px !important;
  letter-spacing: -0.5px !important;
  line-height:    1.2 !important;

  .pipeline-new-node {
    color: #636c72;

    &[label] {
      display:    block;
      color:      #d69a6b;
      background: #3d3223;
      padding:    10px 0;
      margin:     10px 0;
    }
  }

  span[style*="background-color:"] {
    position:      relative;
    display:       flex;
    margin-bottom: -1rem;
    border-bottom: 1px dotted #383840;

    > span:nth-child(1) {
      flex-shrink: 0;
      flex-grow:   0;
    }

    > span:nth-child(2) {
      flex-grow:   1;
      flex-shrink: 1;
      min-width:   0;
      word-break:  break-all;
    }

    &::before {
      content:   "";
      position:  absolute;
      left:      calc(-1em - 6px);
      top:       0;
      color:     #a68ebf;
      font-size: 1em;
    }

    /* info & default */
    &[style="background-color: #FFFFFF;"] {
      background-color: transparent !important;

      > span[style="color: #000000;"] {
        color: #bbbbbb !important;
      }
    }

    /* debug */
    &[style="background-color: #4C4C4C;"] {
      background-color: transparent !important;

      > span[style="color: #000000;"] {
        color: #808080 !important;
      }
    }

    /* warning */
    &[style="background-color: #FFFF00;"] {
      background-color: #1A0037 !important;

      > span[style="color: #000000;"] {
        color: #a68ebf !important;
      }

      &::before {
        content: "⚠️";
      }
    }

    /* error */
    &[style="background-color: #FF0000;"] {
      background-color: #2b0000 !important;

      > span[style="color: #000000;"] {
        color: #ea9595 !important;
      }

      &::before {
        content: "⛔️";
      }
    }
  }

  a[href] {
    color: #5e92cf;
  }
}

/* yaml */
code.language-yaml {
  color:          #A9B7C6;
  font-family:    D2Coding, sans-serif !important;
  letter-spacing: -0.5px;
  line-height:    1;

  .token {
    &.key {
      color: #cc7832 !important;
    }
    &.string {
      color: #6a8759 !important;
    }
  }
}

/* Editor */
div[id*="workflow-editor-"] {
  min-height: 550px;

  .ace_scroller {
    .ace_content {
      .ace_text-layer {
        .ace_line {
          color: #bbbbbb;
        }
      }
    }
  }
}